{
    box-sizing: border-box;
}
body{
    text-align: center;
    color: rgba(255,255,255, 0.7);
    background: radial-gradient(#333, #000);
}
#first, #second, #third{
    width: 100%;
    box-shadow: 0 0 30px #333;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box .img_box{
    /* position: relative; */
    width: 70%;
    padding-bottom: 10%; 
    margin: 0 auto;
}